body {
    padding: 0;
    margin: 0;
   
}


header {
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
    align-items: center;
    background: linear-gradient(purple, red);
    margin: 0;
    padding: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    

}

.primary-navigtion {
    display: flex;
    list-style: none;
    gap: 1rem;
    


}

main {
    display: grid;
    grid-template-columns:3fr 1fr;
    padding: 3rem;
    gap: 5rem;
    

}


.side-nav {
    background: lightgrey;
    margin: 1rem;
    padding: 1rem;
    max-width: 50%;
    top:1rem;
    position: sticky;
}

.grid-row{
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 1rem;
    
}
footer {
    background: linear-gradient(purple, red);
    padding: 0;
    margin: 0;
}
.grid-row:nth-child(even){
    background-color: rgb(225, 225, 225);
}
.content{
display: grid;
grid-template-columns: 1fr, 3fr;
}

.nav-link, .nav-link:visited {
    color: white;
    
}
.nav-link:active{
    color:red;
}

.nav-link-down, .nav-link-down:visited{
    color:white;
    text-decoration: none;
}
